*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.mobile{
	width: 300px;
	height: 580px;
	border: 2px solid gray;
	margin: auto;
	margin-top: 50px;
	border-radius: 20px 50px;
	text-align: center;
	box-shadow: 2px 2px 5px black;
}

.screen{
	width: 290px;
	height: 300px;
	border: 1px solid gray;
	background-image: url(naturepic.jpg);
	background-size: cover;

	border-radius: 20px 50px 0px 0px;
	margin: 3px auto;
	overflow: hidden;

	position: relative;
}
.notification-bar{
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
	background-color: rgba(256,256,256,0.7);
}
.network-operator{
	list-style-type: none;
}
.network-operator li{
	margin-left: 27px;
	font-weight: bold;
}
.notification-items{
	list-style-type: none;
	line-height: 30px;
	display: flex;
	justify-content: flex-end;
}
.notification-items li{
	margin-right: 27px;
}
span{
	font-family: calibri;
	font-size: 12px;
	line-height: 30px;
	margin-right: 5px;
}
#jazz{
	justify-content: flex-start;
	font-weight: bold;
}
.screen-bottom-bar{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-around;
	background-color: rgba(256,256,256,0.5);
	position: absolute;
	bottom: 0;
}
.bottom-images{
	width: 30px;
	height: 30px;
	margin-top: 5px;
}




.btn-container{
	width: 290px;
	height: 300px;
	margin: 2px auto;
	justify-content: center;
}
.btn{
	width: 92px;
	height: 65px;
	background-color: orange;
	border: none;
	margin: 1px;
	font-family: Calibri;
	font-size: 25px;
	box-shadow: inset 0px 0px 5px 5px gray;
	cursor: pointer;
	transition: 0.5s;
}
.btn:hover{
	background-color: yellow;
}
.btn-left-bottom{
	border-radius: 0px 0px 0px 50px;
}
.btn-right-bottom{
	border-radius: 0px 0px 20px 0px;
}
